// Container break-points
$tablet: 768px;      
$desktop: 1280px;

// Colors 
$black: #000000;
$gray: #E7ECF3;
$violet: #F2D7FF;
$green: #C3FFC9;
$yellow: #FFEDCC;
$pink: #FFE1E1;
$blue: #D9E8FB;
$fuchsia: #FFE1F0;
$peach: #FFE1E1;
$aqua: #C3FFF4;
$white: #ffffff;
$red: #EA202A;