extends ../layouts/default

block variables

block content
  
  -
    var contentSlider = [
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун1", color: 'gray'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун2", color: 'violet'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун3", color: 'green'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун4", color: 'yellow'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун5", color: 'pink'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун6", color: 'blue'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун7", color: 'fuchsia'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун8", color: 'peach'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун9", color: 'aqua'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун10", color: 'gray'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун11", color: 'violet'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун12", color: 'green'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун13", color: 'yellow'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун14", color: 'pink'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун15", color: 'blue'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун16", color: 'fuchsia'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун17", color: 'peach'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун18", color: 'aqua'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун19", color: 'gray'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун20", color: 'violet'},
      {src: 'assets/images/slider.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун21", color: 'green'},
      {src: 'assets/images/slider2.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун22", color: 'yellow'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун23", color: 'pink'},
      {src: 'assets/images/slider3.png', text: "Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить", title: "Движун24", color: 'blue'},
    ]
  include ../../components/slider/slider
  include ../../components/cards/cards
  include ../../components/btnHide/btnHide
  
